<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${mode.equals('update')}">Cập nhật sách</title>
    <title th:if="${mode.equals('create')}">Tạo mới sách</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="header::header">

</div>

    <div th:if="${updateErrorMsg != null}">
        <span th:text="${updateErrorMsg}"></span>
    </div>
    <div th:if="${createErrorMsg != null}">
        <span th:text="${createErrorMsg}"></span>
    </div>

    <h2 th:if="${mode.equals('update')}">Cập nhật sách</h2>
    <h2 th:if="${mode.equals('create')}">Tạo mới sách</h2>
    <form th:action="@{/books/save}" method="post" th:object="${book}" enctype="multipart/form-data">
        <div>
            <label for="id">Mã sách</label>
            <input th:readonly="${mode.equals('update')}" type="text" id="id" th:field="*{id}">
            <span th:errors="*{id}"></span>
        </div>
        <div>
            <label for="name">Tên sách</label>
            <input type="text" id="name" th:field="*{name}">
            <span th:errors="*{name}"></span>
        </div>
        <div>
            <label for="quantity">Số lượng</label>
            <input type="number" id="quantity" th:field="*{quantity}">
            <span th:errors="*{quantity}"></span>
        </div>
        <div>
            <label for="price">Giá</label>
            <input type="number" id="price" th:field="*{price}">
            <span th:errors="*{price}"></span>
        </div>
        <div>
            <label for="numberOfVolumes">Số tập</label>
            <input type="text" id="numberOfVolumes" th:field="*{numberOfVolumes}">
            <span th:errors="*{numberOfVolumes}"></span>
        </div>
        <div>
            <img th:if="*{imagePath != null && !imagePath.isEmpty()}" th:src="@{'/' + *{imagePath}}">
            <input type="hidden" th:field="*{imagePath}">
        </div>
        <div>
            <label for="image">Chọn ảnh</label>
            <input type="file" id="image" name="image">
        </div>
        <div>
<!--            <label for="importDate">Ngày nhập</label>-->
            <input hidden type="datetime-local" id="importDate" th:field="*{importDate}">
        </div>
        <div>
            <label for="author">Tác giả</label>
            <input type="text" id="author" th:field="*{author}">
            <span th:errors="*{author}"></span>
        </div>
        <div>
            <label for="cate">Loại</label>
            <select id="cate" th:field="*{category}">
                <option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Lưu</button>
        </div>
        <input type="hidden" name="mode" th:value="${mode}">
    </form>
</body>
</html>